@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    .contentsilde{
        overflow: hidden;
        position: relative;
        .slide{
            overflow: hidden;
            position: relative;
            height: calc(100vh);
            &__item{
                position: absolute;
                background-color: rgba(203, 239, 209, 1);
                display: flex;
                height: calc(100vh - 100px);
                padding: 50px;
                opacity: 0;
                transition: all 1s;
                &-info{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-right: 20px;
                    .price{
                        .curency{
                            font-size: 16px;
                            color: silver;
                            transform: translateY(15px);
                        }
                        .regu-price{
                            font-size: 28px;
                            color: #333333;
                        }
                    }
                    .name{
                            margin: 0;
                            padding: 10px 0;
                            font-size: 36px;
                    }
                    .size, .color{
                        p{
                            font-size: 16px;
                            color: silver;
                            text-align: right;
                            margin: 0;
                        }
                        &__list{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            margin: 10px 0 20px;
                            &-item{
                                margin-left: 10px;
                                width: 30px;
                                cursor: pointer;
                                height: 30px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: solid 2px #333333;
                                &:hover{
                                    box-shadow: 0px 0px  4px 2px #33333380;
                                }
                            }
                        }
                    }
                    .color{
                        &__list{
                            &-item{
                                color: transparent;;
                            }
                        }
                    }
                    .description{
                        p{
                            margin: 0;
                        }
                    }
                    .btn{
                        padding-top: 30px;
                        button{
                            border-radius: 30px;
                            font-size: 20px;
                            background-color: transparent;
                            padding: 10px 25px;
                            outline: none;
                            font-weight: 600;
                            border: solid 3px #333333;
                            cursor: pointer;
                            transition: all 0.6s;
                            &:hover{
                                transform: translateY(-15px);
                                transition: all 0.6s;
                            }
                        }
                    }
                }
                &-img{
                    
                    animation: firstLoad 2s;
                    width: 40%;
                    display: flex;
                    align-items: center;
                    img{
                        width: 90%;
                        margin: 0 auto;
                        display: block;
                        transition: all 1s;
                        animation: moveImg 1.5s infinite;
                        animation-direction: alternate;
                    }
                }
                &-galery{
                    width: 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    img{
                        max-width: 50px;
                        border-radius: 10px;
                        margin-top: 10px;
                        transition: all 0.4s;
                        cursor: pointer;
                        &:hover{
                            transform: translateY(-10px);
                        }
                    }
                }
            }
            .active-slide{
                transition: all 1s;
                opacity: 1;
            }
        }
        &:hover{
            .btncontroll{
                #btn_left{
                    transition: all .6s;
                    left: 20px;
                }
                #btn_right{
                    transition: all .6s;
                    right: 20px;
                }
            }
        }
        .btncontroll{
            &__item{
                position: absolute;
                top: 50%;
                transition: all 1s;
                transform: translateY(-50%);
                cursor: pointer;
            }
            #btn_left{
                left: -10vw;
            }
            #btn_right{
                right: -10vw;
            }
        }
        .dotcontroll{
            position: absolute;
            bottom: 20px;
            left: calc(50% - 100px);
            display: flex;
            justify-content: center;
            align-items: center;
            &__wrapper{
                margin:  0 10px;
                transition: all 0.4s;
                border-bottom: solid 2px  rgba(203, 239, 209, 1);
                &:hover{
                    transition: all 0.6s;
                    border-bottom: solid 2px #333333;
                }
                img{
                    max-width: 30px;
                    cursor: pointer;
                    transform: rotate(-30deg);
                    transition: all .8s;
                    filter: grayscale(100%);
                    &:hover{
                        transform: translateY(-10px);
                        transition: all .4s;
                        filter: grayscale(0);
                    }
                }
            }
            
        }
    }
}

@keyframes moveImg{
    from{
        transform: translateY(-30px) rotate(-20deg);
    }
    to{ transform: translateY(30px) rotate(-20deg);
    }
}
@keyframes firstLoad{
    from{
        transform: translateX(100vw) ;
        opacity: 0;
    }
    to{ transform: translateX(0);
        opacity: 1;
    }
}